{% load staticfiles %}

<body>
	<div class="cat cat1">
		<img src='{% static "img/transparent.png" %}' height='300'class='img-nonesponsive'/>
	</div>
	<div class="cat cat2">
		<img src='{% static "img/transparent.png" %}'height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat3">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat4">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat5">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat6">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat7">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat8">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat9">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat1">
		<img src='{% static "img/transparent.png" %}' height='300'class='img-nonesponsive'/>
	</div>
	<div class="cat cat2">
		<img src='{% static "img/transparent.png" %}'height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat3">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat4">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat5">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat6">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat7">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat8">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat9">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat1">
		<img src='{% static "img/transparent.png" %}' height='300'class='img-nonesponsive'/>
	</div>
	<div class="cat cat2">
		<img src='{% static "img/transparent.png" %}'height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat3">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat4">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat5">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat6">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat7">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat8">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat9">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat1">
		<img src='{% static "img/transparent.png" %}' height='300'class='img-nonesponsive'/>
	</div>
	<div class="cat cat2">
		<img src='{% static "img/transparent.png" %}'height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat3">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat4">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat5">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat6">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat7">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat8">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>
	<div class="cat cat9">
		<img src='{% static "img/transparent.png" %}' height='300' class='img-nonesponsive'/>
	</div>

	

<style>
	html{
		height:100%;
		margin:0px;
	}
	body{
		height:100%;
		margin:0px;
	}
	.cat {
		background-image:url(http://andrevv.com/img/catz/catz01.gif);
		/*background-image:url('{{STATIC_URL}}img/poop.png');*/
		height:50%;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	.cat1 {
		background-color: #ff0066;
	}
	.cat2{
		background-image:url(http://andrevv.com/img/catz/catz02.gif);
		background-color: #d400ff;
	}
	.cat3{
		background-image:url(http://andrevv.com/img/catz/catz03.gif);
		background-color: #8400ff;
	}
	.cat4{
		background-image:url(http://andrevv.com/img/catz/catz04.gif);
		background-color: #d4000f;
	}
	.cat5{
		background-image:url(http://andrevv.com/img/catz/catz05.gif);
		background-color: #d460ff;
	}
	.cat6{
		background-image:url(http://andrevv.com/img/catz/catz06.gif);
		background-color: #d402ff;
	}
	.cat7{
		background-image:url(http://andrevv.com/img/catz/catz07.gif);
		background-color: #d4002f;
	}
	.cat8{
		background-image:url(http://andrevv.com/img/catz/catz08.gif);
		background-color: #740f1f;
	}
	.cat9{
		background-image:url(http://andrevv.com/img/catz/catz09.gif);
		background-color: #0400ff;
	}
</style>
</body>
<h1> poop </h1>
