<!DOCTYPE html>
{% extends "base.html" %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}
  
<html>
{% block jumbotron_content %}
<div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
        </div>
{% endblock %}

{% block jumbotron %}
	{{ block.super }}
	Hello 
{% endblock %}

{% block content %}
<body>
<h1> {{ title }}</h1>
<!-- 
{{ user }}
{{ request.user }} -->


<form method='POST' action=''>{% csrf_token %} <!-- mine was in botom -->
{{ form.as_p }}

<input type='submit' value= 'Sign Up' /> <!-- mine was here -->
<!-- 	<input type = 'text'>
	</input> -->


</form>

</body>
{% endblock %}
</html>