<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}
  
<html>
{% block jumbotron_content %}
<div class="jumbotron">
        <h1>facebook </h1>
        <p>Powered by Django 1.8.2</p>
        <p>John Pyun is Awesome.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">wau &raquo;</a>
        </p>
        </div>
{% endblock %}

{% block jumbotron %}
	{{ block.super }}
	Hello 
{% endblock %}

{% block content %}
  
	<body>
		<h1> {{ title }}</h1>
		<div class="row">
		  <div class="col-sm-6 col-md-3">
	<!-- 
	{{ user }}
	{{ request.user }} -->

		<form method='POST' action=''>{% csrf_token %} <!-- mine was in botom -->
	<!-- {{ form.as_p }}-->
		{{ form|crispy }}
		<input class = 'btn btn-primary' type='submit' value= 'Sign Up' /> <!-- mine was here -->
	<!-- 	<input type = 'text'>
		</input> -->
		</form>

	</body>
  </div>
</div>

{% endblock %}
</html>